body {
  font-family: "Amatic SC", cursive;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* navbar */

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 15px;
  position: sticky;
  top: 0;
}
.outside {
  font-size: 20px;
  font-family: "Amatic SC", cursive;
  border-style: inset;
  background-image: linear-gradient(
    0deg,
    rgba(251, 240, 253, 0.3) 0%,
    rgba(117, 147, 216, 0.85) 100%
  );
}
nav a:hover {
  color: blue;
  padding: 14px;
}

.logo {
  height: 90px;
  width: 90px;
}

.badgeWarning {
  color: red;
}

/* home */
.home {
  width: 100%;
  height: 800px;
  background-image: url("https://moodymonth.s3.eu-west-2.amazonaws.com/media/images/articles/main_images/2_1_1200/updated-how-do-our-hormones-affect-our-dreams-5c76da9977241.jpg");
  background-size: cover;
  font-family: "Amatic SC", cursive;
  text-align: center;
}

.homelogo {
  padding-bottom: 5px;
}
.catchphrase {
  text-shadow: 0 0 10px rgba(222, 109, 241, 0.7),
    0 0 40px rgba(222, 109, 241, 0.7), 0 0 100px rgba(222, 109, 241, 0.7);
  font-size: 80px;
  color: white;
}

.catchphrase strong {
  text-shadow: 0 0 10px rgba(88, 186, 247, 0.7),
    0 0 40px rgba(88, 186, 247, 0.7), 0 0 100px rgba(88, 186, 247, 0.7);
}

/* Cart */

.cart-header {
  margin: 10px;
  font-family: "Caveat", cursive;
  text-align: center;
}

.cart-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cart-container {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  flex-direction: row;
  border: 0.5px solid gray;
  padding: 20px;
  margin: 10px;
  width: 600px;
  justify-content: space-between;
}

.cart-item img {
  width: 300px;
  display: block;
}

.cart-item-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-main {
  text-align: right;
}

.cart-item-main h7 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
}

.cart-item-details h3 {
  font-size: 25px;
}

.cart-item-details p {
  font-size: 20px;
}
.cart-item-details span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
}

.cart-item-update button {
  background-color: rgb(188, 228, 247);
  width: 30px;
  height: 30px;
  border: none;
}

.cart-item-update button:hover {
  background-color: rgb(144, 216, 250);
}

.cart-item-update select {
  width: 50px;
  height: 30px;
}

.order-summary {
  border: 0.5px solid gray;
  padding: 15px;
  margin: 10px;
  width: 180px;
  height: 200px;
  text-align: center;
}

.order-summary h3 {
  font-size: 25px;
}

.order-summary p {
  font-size: 20px;
}

.order-summary span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
}

.checkout {
  font-family: "Amatic SC", cursive;
  font-size: 20px;
  background-color: rgb(149, 212, 241);
  border: none;
  color: white;
  padding: 6px;
  cursor: pointer;
  margin: 10px;
  margin-bottom: 20px;
  height: 30px;
  opacity: 100%;
  text-decoration: none;
}

.checkout:hover {
  background-color: rgb(19, 129, 180);
}
/* Checkout */

.back-to-cart {
  font-family: "Amatic SC", cursive;
  font-size: 20px;
  background-color: rgb(188, 228, 247);
  border: none;
  color: white;
  padding: 5px 5px;
  cursor: pointer;
  margin: 10px;
  margin-bottom: 20px;
  height: 30px;
  opacity: 100%;
  text-decoration: none;
}

.back-to-cart:hover {
  background-color: rgb(151, 229, 248);
}
.checkout-summary {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.checkout-container {
  display: flex;
  flex-direction: column;
}

.checkout-container h4 {
  font-size: 25px;
}

.checkout-item {
  padding-left: 10px;
  margin: 10px;
  width: 300px;
  background-color: rgba(196, 240, 248, 0.418);
}

.checkout-item h5 {
  font-size: 25px;
}

.checkout-item h6 {
  font-size: 20px;
}

.checkout-item p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.checkout-total {
  background-color: rgba(196, 240, 248, 0.418);
  padding: 10px;
  margin: 10px;
  margin-top: 106px;
  height: 200px;
  width: 150px;
  font-size: 20px;
}

.checkout-total button {
  font-family: "Amatic SC", cursive;
  font-size: 20px;
  background-color: rgb(18, 149, 182);
  border: none;
  color: white;
  padding: 5px 5px;
  cursor: pointer;
  margin: 10px;
  margin-bottom: 20px;
  height: 30px;
  opacity: 100%;
}

.checkout-total button:hover {
  background-color: rgb(133, 224, 247);
}

/* Auth Form */

.wholething {
  font-size: 40px;
  background-image: linear-gradient(
    0deg,
    rgba(243, 213, 250, 0) 0%,
    rgba(200, 246, 250, 0.85) 100%
  );
  background-size: cover;
  width: 100%;
  height: auto;
}

form input {
  box-shadow: 0px 0px 5px #87c4da, 1px 1px 5px #87c4da, 3px 3px 5px #87c4da;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  height: auto;
}

form h3 {
  text-align: center;
  text-shadow: 0 0 10px rgba(222, 109, 241, 0.7),
    0 0 40px rgba(222, 109, 241, 0.7), 0 0 100px rgba(222, 109, 241, 0.7);
  color: white;
}

.authbutton {
  box-shadow: 3px 4px 17px 0px #bc8ee8;
  background: linear-gradient(to bottom, #cceff5 5%, #e5c5e8 100%);
  background-color: #cceff5;
  border-radius: 15px;
  border: 1px solid #faf2ff;
  display: inline-block;
  cursor: pointer;
  color: #fafeff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #bb88eb;
}
.authbutton:hover {
  background: linear-gradient(to bottom, #e5c5e8 5%, #cceff5 100%);
  background-color: #e5c5e8;
}
.authbutton:active {
  position: relative;
  top: 1px;
}

/* checkout-form */

.customer-form form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
}

.guest-form form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
}

/* All Products */

.all-products-view {
  width: 100%;
  height: auto;
  background-image: url("https://images.unsplash.com/photo-1618319991690-ba4e77a04471?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZHJlYW15JTIwc2t5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60");
  background-size: cover;
}

.all-products-view h1 {
  font-size: 30px;
  font-family: "Amatic SC", cursive;
  text-align: center;
  padding: 20px;
  background-color: rgb(252, 243, 250);
  background-color: rgb(252, 243, 250);
  background-size: cover;
}

.all-products-view img {
  border-radius: 50%;
}

.all-products-container {
  padding: 50px;
  text-align: center;
  display: flex;
  text-decoration: none;
  flex-wrap: wrap;
  justify-content: center;
}

.all-products-view h2 {
  font-size: 30px;
  font-family: "Amatic SC", cursive;
  text-align: center;
  padding: 10px;
}

.all-products-view p {
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: right;
  padding: 10px;
  margin: 10px;
}

.single-product {
  background-color: white;
  width: 100%;
  margin: 10px;
  flex-basis: 30%;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 20px rgb(197, 221, 241);
}

.single-product img {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.single-product img:hover {
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(212, 228, 241);
}

.single-product-details {
  background-color: rgb(252, 243, 250);
}

.addToCart {
  text-align: right;
}

.addToCart button {
  font-family: "Amatic SC", cursive;
  font-size: 20px;
  background-color: rgb(235, 186, 191);
  border: none;
  color: white;
  padding: 5px 5px;
  cursor: pointer;
  margin: 10px;
  margin-bottom: 20px;
  height: 30px;
  opacity: 100%;
}

.addToCart button:hover {
  background-color: rgb(226, 164, 171);
}

/* single product page*/
.singleProduct {
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.singleProductDetails {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 120px;
  font-family: "Caveat", cursive;
}

.back-to-dreams {
  color: rgb(9, 172, 172);
  font-family: "Caveat", cursive;
  font-size: 24px;
  text-align: right;
  margin: 10px;
  text-decoration: underline;
}

.back-to-dreams:hover {
  color: rgb(174, 228, 230);
}

.single-product-main {
  text-align: center;
}

.summary {
  display: flex;
  padding: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

.summary p {
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 10px;
  margin: 10px;
}

.add-to-cart-buttons select {
  width: 50px;
  height: 40px;
  text-align: center;
}
.add-to-cart-buttons button {
  font-family: "Amatic SC", cursive;
  font-size: 20px;
  background-color: rgb(235, 186, 191);
  border: none;
  color: white;
  padding: 5px 5px;
  cursor: pointer;
  margin: 10px;
  height: 40px;
  opacity: 100%;
}

.add-to-cart-buttons button:hover {
  background-color: rgb(226, 164, 171);
}
