body {
 font-family: 'Amatic SC', cursive;

}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* navbar */


nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav a {
  text-decoration: none;
  color: black;
  padding: 15px;
  position: sticky;
  top: 0;
}
.outside{
  font-size: 20px;
  font-family: 'Amatic SC', cursive;
  border-style: inset;
  background-image: linear-gradient(0deg, rgba(251,240,253,0.30) 0%, rgba(117,147,216,0.85) 100%);
}
nav a:hover {
  color: blue;
  padding: 14px;
}

.logo{
  height: 90px;
  width: 90px
}

.badgeWarning {
  color: red;
}

/* home */
.home {
  width: 100%;
  height: 800px;
  background-image: url("https://moodymonth.s3.eu-west-2.amazonaws.com/media/images/articles/main_images/2_1_1200/updated-how-do-our-hormones-affect-our-dreams-5c76da9977241.jpg");
  background-size: cover;
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

.homelogo{
  padding-bottom: 5px;
}
.catchphrase{
 text-shadow:
   0 0 10px rgba(222, 109, 241, .7),
   0 0 40px rgba(222, 109, 241, .7),
   0 0 100px rgba(222, 109, 241, .7);
font-size: 80px;
color: white;
}

.catchphrase strong{
  text-shadow:
   0 0 10px rgba(88, 186, 247, .7),
   0 0 40px rgba(88, 186, 247, .7),
   0 0 100px rgba(88, 186, 247, .7);
}

/* Cart */

.cart-header {
  margin: 10px;
}
.cart-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-container {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  flex-direction: row;
  border: 0.5px solid gray;
  padding: 10px;
  margin: 10px;
  width: 600px;
}

.cart-item img {
  width: 300px;
  display: block;
}

.cart-item-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-summary {
  border: 0.5px solid gray;
  padding: 15px;
  margin: 10px;
  width: 180px;
  height: 200px;
}

/* Checkout */

.checkout-summary {
  display: flex;
  flex-direction: row;
}
.checkout-container {
  display: flex;
  flex-direction: column;
}

.checkout-item {
  display: flex;
  flex-direction: column;
  border: 0.5px solid gray;
  padding: 10px;
  margin: 10px;
  width: 600px;
}

.checkout-total {
  border: 0.5px solid gray;
  padding: 10px;
  margin: 10px;
  margin-top: 70px;
  height: 200px;
}

/* Auth Form */

.wholething{
  font-size: 40px;
 background-image: linear-gradient(0deg, rgba(243,213,250,0) 0%, rgba(200,246,250,0.85) 100%);
background-size: cover;
width: 100%;
height: auto;
}

form input{
  box-shadow: 0px 0px 5px #87C4DA, 1px 1px 5px #87C4DA, 3px 3px 5px #87C4DA;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  height: auto;
}

form h3{
  text-align: center;
}

.authbutton {
	box-shadow: 3px 4px 17px 0px #bc8ee8;
	background:linear-gradient(to bottom, #cceff5 5%, #e5c5e8 100%);
	background-color:#cceff5;
	border-radius:15px;
	border:1px solid #faf2ff;
	display:inline-block;
	cursor:pointer;
	color:#fafeff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #bb88eb;
}
.authbutton:hover {
	background:linear-gradient(to bottom, #e5c5e8 5%, #cceff5 100%);
	background-color:#e5c5e8;
}
.authbutton:active {
	position:relative;
	top:1px;
}


